body {
    
}

.cardlist-table {
    border: 1px solid #999
}

.cardlist-update-wrapper {
    background: #00FFCD;
    border: 1px solid #00FFCD;
}

.cardlist-table-wrapper {
   background: #FFF; 
}

.cardlist-table {

}
